.input-field {
    border: none;
    background: var(--blanco);
    outline: none;
    color: var(--gris);
    font-size: 16px;
    border-radius: 15px;
    padding: 12px 20px;
    display: flex;
    gap: 12px;
    width: auto;
    margin: 10px 0;
    border: 1px solid var(--azul);
}

.input-icon {
    font-size: 20px;
    color: var(--azul);
}

app-inputs {
    width: 100%;
}

@media (max-width: 580px) {
    .input-icon{
        font-size: 18px;
    }
    .input-field{
        font-size: 14px;
    }
}