<div class="logBox">
    <form>
        <app-input-icon [icon]="'bx bx-mail-send'" [placeholder]="'Correo Electrónico'"></app-input-icon>
        <app-input-icon [icon]="'bx bxs-key'" [placeholder]="'Contraseña'" [tipo]="'password'"></app-input-icon>
        <app-boton [text]="'Ingresar'"></app-boton><br>
        <app-boton-alerta [text]="'Crear cuenta'"></app-boton-alerta>
    
        <p>¿Se le olvidó su contraseña? <br> <a href="#">Ingrese aquí para restablecerla</a></p>
    
    </form>
</div>

