.icon {
  position: absolute;
  top: 6px;
  left: 50%;
  font-size: 23px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
}

.icon i {
  cursor: pointer;
}

div.active {
  left: 90%;
}
@media (max-width: 580px){
  div{
    display: none;
  }
}
