<div class="logBox">
  <form>
    <p class="info-message" [ngStyle]="{color: colorInfo}">{{infoMessage}}</p>
    <app-input
      [icon]="'bx bx-user'"
      [placeholder]="'Nombre Completo'"
      [id]="'nombreCompleto'"
      (sendValue)="getNombreCompleto($event)"
    ></app-input>
    <app-input
      [icon]="'bx bx-id-card'"
      [placeholder]="'Numero de identidicación'"
      [id]="'numeroDocumento'"
      (sendValue)="getNumeroDocumento($event)"
    ></app-input>
    <select name="eps" id="eps" (change)="getEps($event)">
      <option selected disabled value="">Selecciona aquí</option>
      <option *ngFor="let e of eps" value="{{e['id_eps']}}">{{e['nombre']}}</option>
    </select>
    <app-input
      [icon]="'bx bx-mail-send'"
      [placeholder]="'Correo Electrónico'"
      [tipo]="'email'"
      [id]="'email'"
      (sendValue)="getCorreo($event)"
    ></app-input>
    <app-input
      [icon]="'bx bxs-key'"
      [placeholder]="'Contraseña'"
      [tipo]="'password'"
      [id]="'password'"
      (sendValue)="getContrasenia($event)"
    ></app-input>
    <app-boton [text]="'Crear cuenta'" (click)="registrarUsuario()"></app-boton><br />
    <app-boton-alerta [text]="'Regresar'" (click)="goToLogin()"></app-boton-alerta>
    <p>
      Si no aparce como afiliado <br />
      <a href="#">Ingrese aquí a nuestra línea de atención</a>
    </p>
  </form>
</div>
