<div class="logBox">
  <form>
    <app-input-icon
      [icon]="'bx bx-user'"
      [placeholder]="'Nombre Completo'"
      [id]="'nombreCompleto'"
    ></app-input-icon>
    <app-input-icon
      [icon]="'bx bx-id-card'"
      [placeholder]="'Numero de identidicación'"
      [id]="'numeroDocumento'"
    ></app-input-icon>
    <app-input-icon
      [icon]="'bx bx-plus-medical'"
      [placeholder]="'Eps Afiliado'"
      [id]="'eps'"
    ></app-input-icon>
    <app-input-icon
      [icon]="'bx bx-mail-send'"
      [placeholder]="'Correo Electrónico'"
      [tipo]="'email'"
      [id]="'email'"
    ></app-input-icon>
    <app-input-icon
      [icon]="'bx bxs-key'"
      [placeholder]="'Contraseña'"
      [tipo]="'password'"
      [id]="'password'"
    ></app-input-icon>
    <app-boton [text]="'Crear cuenta'"></app-boton><br/>
    <app-boton-alerta [text]="'Regresar'"></app-boton-alerta>

    <p>
      Si no aparce como afiliado <br />
      <a href="#">Ingrese aquí a nuestra línea de atención</a>
    </p>
  </form>
</div>
