<!-- <h1>{{title}}</h1>
<app-boton [text]="'Con texto alternativo'"></app-boton>
<app-boton></app-boton>
<app-boton-alerta [text]="'Registrar'"></app-boton-alerta>
<app-inputs [tipo]="'password'" [placeholder]="'Contraseña'"></app-inputs>
<app-reloj></app-reloj> -->
<!-- <app-tarjeta-uno></app-tarjeta-uno> -->

<!-- <app-tarjeta-icon></app-tarjeta-icon>
<app-tarjeta-icon2 [ruta]="'../../../../assets/imagenes/moon.svg'"></app-tarjeta-icon2>
<app-tarjeta-icon2 [ruta]="'../../../../assets/imagenes/folder_minus.svg'"></app-tarjeta-icon2>
<app-tarjeta-dos></app-tarjeta-dos>
<app-input-icon [icon]="'bx bxs-key'" [placeholder]="'Contraseña'" [tipo]="'password'"></app-input-icon>
<app-input-icon [icon]="'bx bxl-sass'" [placeholder]="'Sass'"></app-input-icon>
<app-menu-icon></app-menu-icon>
<app-menu-icon-cerrar></app-menu-icon-cerrar> -->

<!-- <app-inputs-login></app-inputs-login> -->
<!-- <app-inputs-registro></app-inputs-registro> -->

<!-- <app-logo-fondo></app-logo-fondo>
<app-menu-item [icon]="'bx bxs-key'" [text]="'Inicio'"></app-menu-item>
<app-logo-contenido></app-logo-contenido>  -->
<!-- <app-menu-items-completo></app-menu-items-completo> -->
<!-- <app-menu></app-menu> -->
<!-- <app-osup-login></app-osup-login> -->
<!-- <app-osup-registro></app-osup-registro> -->

<!-- <app-registrare></app-registrare> -->
<!-- <app-login></app-login> -->
<!-- <app-calendario></app-calendario> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-inicio [text]="'Resultados'" [ruta]="'../../../../assets/imagenes/doctor-man 1.png'"></app-inicio>
 -->
 <!-- <app-home></app-home> -->
<router-outlet></router-outlet>