<app-menu></app-menu>
<div class="container">
   <h1>Bienvenido, {{nombre}}</h1>
    <section>
        <div class="cardOne">
            <app-tarjeta-dos>
            </app-tarjeta-dos>
        </div>
        <div class="cardTwo">
            <div class="uno">
                <div class="sub"><app-tarjeta-dos>
                    <p class=>Esto es una prueba</p>
                </app-tarjeta-dos></div>
                <div class="sub"><app-tarjeta-dos></app-tarjeta-dos></div>
                <div class="sub"><app-tarjeta-dos></app-tarjeta-dos></div>
            </div>
            <div class="dos"><app-tarjeta-dos></app-tarjeta-dos></div>
            <div class="tres">
                <div class="sob"><app-tarjeta-dos></app-tarjeta-dos></div>
            </div>
        </div>
    </section>
</div>
